@import url(fontawesome-all.min.css);
@font-face {
  font-family: NanumSquare;
  src: url('../fonts/NanumSquareOTFLight.otf') format("opentype");
  font-weight: lighter;
}
@font-face {
  font-family: NanumSquare;
  src: url('../fonts/NanumSquareOTFRegular.otf') format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: NanumSquare;
  src: url('../fonts/NanumSquareOTFExtraBold.otf') format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: BinggraeMelona;
  src: url('../fonts/BinggraeMelona.otf') format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: BinggraeMelona;
  src: url('../fonts/BinggraeMelonaBold.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: GmarketSans;
  src: url('../fonts/GmarketSansLight.otf') format("opentype");
  font-weight:lighter;
}
@font-face {
  font-family: GmarketSans;
  src: url('../fonts/GmarketSansMedium.otf') format("opentype");
  font-weight:normal;
}
@font-face {
  font-family: GmarketSans;
  src: url('../fonts/GmarketSansBold.otf') format("opentype");
  font-weight:bold;
}

/* BASIC */

html {
  background-color: #254653;
}

body {
  font-family: NanumSquare;
  font-weight:normal;
  height: 100vh;
}

a.underlineHover {
  color: #56889c;
  font-family: GmarketSans;
  font-weight: normal;
  display:inline-block;
  text-decoration: none;
  font-size: 15px;
}


h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #254653;
  font-family: GmarketSans;
  font-weight: bold;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active_login {
  color: #000000;
  border-bottom: 2px solid #254653;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #254653;
  border: none;
  color: white;
  padding: 15px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: GmarketSans;
  font-weight: bold;

  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 20px 20px 10px 20px;

}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #3e7185;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  font-family: NanumSquare;
  font-weight: lighter;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #254653;
}

input[type=text]:placeholder {
  color: #cccccc;
  font-family: NanumSquare;
  font-weight: lighter;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #254653;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color:#254653;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
}


* {
  box-sizing: border-box;
}
