// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#header > ul.actions > li {
    display:inline-block;
}

#header > ul.mypage {
    text-align: left;
    margin-top: 5%;
}